<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <link rel="icon" href="/assets/images/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		{% set count = 1 %}

		{% for product in products %}
			{{product}}
			{% if count % 3 == 0 %}
                <br>
            {% endif %}
			{% set count = count + 1 %}
		{% endfor %}

        {{ dump(products)}}
	</body>
</html>
